@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--off-white-color);
}

:root {
    --common-font-size: calc(0.4rem + 1vw);
    --header-font-size: calc(var(--common-font-size) * 1.1);
    --title-font-size: calc(var(--common-font-size) * 1.3);

    --form-font-size: calc(0.6rem + 1vw);

    --common-padding: calc(5px + 1vw);
    --common-margin: calc(3px + 1vw);

    --darkest-color: #1B1A17; 
    --darkest-lighter-color: #3d3c37;
    --base-color: #F0A500;
    --base-contrast-color: #E45826;
    --base-light-color: #E6D5B8;
    --off-white-color: #FDF6EC;
    --gray-color: #D6E4E5;
    --dark-gray-color: #497174;
    --confirm-color: #3CCF4E;
    --reject-color: #CC3636;

    --header-height: 10vh;
    --main-content-padding: var(--header-height);

}

@keyframes modal-show {
    from {
        opacity: 0;
        transform: scale(0.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
  }

body {
    background-color: var(--darkest-color);
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: var(--common-padding);
    position: relative;
    height: var(--header-height);
    position: fixed;
    z-index: 1;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding-top: var(--main-content-padding);
}

/* header (start) - */
h1#page-title {
    z-index: 1;
}



button#menu-btn {
    width: calc(var(--title-font-size) * 2.5);
    height: calc(var(--title-font-size) * 2.5);
    justify-self: end;
    font-size: calc(var(--title-font-size) * 2);
    border-radius: 50%;
    border: none;
    background-color: transparent;
}

button#menu-btn i{
    color: var(--base-color);
}
/* header (end) - */

section#library-grid {
    padding: var(--common-padding);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(150px + 5vw), 1fr));
    height: calc(100vh - var(--header-height));
    gap: var(--common-margin);
    overflow-y: scroll;
}

/* book-container - (start)*/
section[data-class='book-container'] {
    border: 1px solid var(--base-color);
    border-radius: 5px;
    width: 100%;
    padding: var(--common-padding);
    background-color: var(--darkest-color);

    display: grid;
    position: relative;
    
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "genre"
        "cover"
        "read-status"
        "details";
    gap: calc(var(--common-margin) * 0.5);
}

/* template content is not displayed */
section[data-template = 'template'] {
    display: none;
}

section[data-class='book-container'][data-read='done'] {
    box-shadow: inset 0 0 10px var(--confirm-color);
    border-color: var(--confirm-color);
}

section[data-class='book-container'][data-read='nys'] {
    border-color: var(--reject-color);
}

p {
    font-family: var(--common-font-size);
    color: var(--off-white-color);
    font-size: var(--common-font-size);
}

div[data-class='header-cont'] {
    grid-area: header;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    justify-items: center;
    gap: var(--common-margin);
}

h3.title {
    width: 100%;
    /* min-height: calc(15px + 5vw); */
    padding-right: 0;
    margin: calc(var(--common-padding) * 0.5);
    align-self: center;
    justify-self: center;
    text-align: center;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;

    font-size: var(--title-font-size);
    color: var(--base-color);
}

button[data-class='read-status'],
button[data-class='options'],
button[data-class='edit'],
button[data-class='delete']{
    width: calc(var(--header-font-size) * 2);
    height: calc(var(--header-font-size) * 2);
    border: 1px solid var(--darkest-color);
    border-radius: 50%;
    background-color: var(--off-white-color);

    font-size: var(--header-font-size);
}

button[data-class='options'] {
    z-index: 1;
}

button[data-class='options'] {
    background-color: var(--darkest-lighter-color);
}

button[data-class='options'] i {
    color: var(--off-white-color);
}

button i {
    color: var(--darkest-color);
}

div[data-class='edit-delete-cont'] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap);
    height: 25%;
    overflow-y: hidden;
    white-space: nowrap;

    position: absolute;

    left: var(--padding);
    top: calc(var(--padding) + var(--button-height) + var(--gap));
    top: calc(var(--padding));

    z-index: 0;
    transition: height 0.1s ease-in-out;
}

:root {
    /* Note: assign custom properties for easier computation of*/
    /* container position */
    --padding: var(--common-padding);
    --button-height: calc(var(--header-font-size) * 2);
    --gap: calc(var(--common-padding) * 1.1);
}

div[data-class='edit-delete-cont'].shown {
    height: 50%;
}

div[data-class='edit-delete-cont'].shown > button[data-class='edit'] {
    transform: translateY(calc((var(--button-height) + var(--gap))  * 1));
    border: 1px solid var(--confirm-color);
}

div[data-class='edit-delete-cont'] > button[data-class='edit'] {
    transform: translateY(0);
    transition: transform 0.1s ease-in-out;
    background-color: #c5ebc9;
}

div[data-class='edit-delete-cont'].shown > button[data-class='delete'] {
    transform: translateY(calc((var(--button-height) + var(--gap))  * 1));
    border: 1px solid var(--reject-color);
}

div[data-class='edit-delete-cont'] > button[data-class='delete'] {
    transform: translateY(calc((var(--button-height) + var(--gap))  * -1));
    transition: transform 0.1s ease-in-out;
    background-color: #edbbbb;
}


    



button[data-class='read-status'].done {
    background-color: var(--confirm-color);
}

button[data-class='read-status'].ongoing {
    background-color: var(--base-color);
}

button[data-class='read-status'].nys {
    background-color: var(--reject-color);
}

div.genre {
    grid-area: genre;
}

div.genre ul {
    display: flex;
    justify-content: center;
    gap: var(--common-font-size);
    list-style-type: none;
    color: var(--off-white-color);
    font-size: calc(var(--common-font-size) * 0.8);
    text-align: center;
}

div[data-class='cover-image'] {
    grid-area: cover;
    background-color: var(--darkest-lighter-color);
    width: 100px;
    height: 110px;
    border: 1px solid var(--base-color);
    background-position: center;
    background-position: center top;
    background-size: 110%; 
    background-repeat: no-repeat;
    margin: var(--common-margin) auto;
}

p[data-class='read-status'] {
    grid-area: read-status;
    justify-self: center;
    margin-bottom: var(--common-margin);
    width: 100%;
    text-align: center;
}

p[data-class='read-status'].done {
    color: var(--confirm-color);
}

p[data-class='read-status'].nys {
    color: var(--reject-color);
}

p[data-class='read-status'].ongoing {
    color: var(--base-color);
}

section[data-class='book-details'] {
    grid-area: details;

    display: flex;
    flex-direction: column;
}

section[data-class='book-details'] h4 {
    display: none;
}

div[data-class='details'] {
    display: grid;
    grid-template-columns: calc(55px + 3vw) 1fr;
}

/* book-container - (end)*/

/* add book button (start) - */
button#add-book {
    font-size: calc(var(--common-font-size) * 4);
   
    /* width: calc(40px + 5vw); */
    width: calc(40px + 5vw);
    height: calc(40px + 5vw);
    border: 1px solid var(--base-color);
    background-color: var(--base-contrast-color);
    box-shadow: 0 3px 5px var(--gray-color);
    border-radius: 10px;
    padding: var(--common-padding);

    position: fixed;
    bottom: 5vh;
    right: 10vw;
    z-index: 1;

    display: grid;
    grid-template-columns: max-content 1fr;
    justify-items: center;
    align-items: center;
    gap: 0;
    transition: width 0.3s ease-in-out;
}

button#add-book i {
    color: var(--off-white-color);
    text-shadow: 0 0 5px var(--darkest-color);
    transform: translateX(2px);
}

button#add-book span {
    font-size: calc(var(--common-font-size) * 2);
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    text-align: right;
    white-space: nowrap;
}

/* button#add-book:hover {
    gap: var(--common-margin);
    width:calc(150px + 5vw);
    overflow: hidden;
}

button#add-book:hover span {
    width: calc(80px + 5vw);
} */


/* add book button (end) - */

/* add book input field (start) -*/

dialog#add-book-dialog,
dialog#delete-book-dialog {
    width: 95vw;
    border: none;
    background-color: transparent;
    margin: auto;
    height: 100%;
    
    animation: 0.3s modal-show;
    padding: 10px;
}

dialog#add-book-dialog::backdrop,
dialog#delete-book-dialog::backdrop {
    background-color: rgba(27, 26, 23, 0.9);
}

div#add-book-cont {
    background-color: var(--base-contrast-color);
    border: 1px solid var(--base-contrast-color);
    box-shadow: 0 0 15px var(--dark-gray-color);
    width: 100%;
}

dialog#add-book-dialog h3,
dialog#delete-book-dialog h3 {
    text-align: center;
    padding: var(--common-padding);
    font-size: calc(var(--form-font-size) * 1.3);
}

button#exit-add-form,
button#exit-delete-form {
    font-size: calc(var(--form-font-size) * 1.3);
    background-color: var(--base-color);
    border: 1px solid var(--base-color);
    width: calc(var(--form-font-size) * 2.3);
    height: calc(var(--form-font-size) * 2.3);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0; 
}
button#exit-add-form i {
    color: var(--darkest-color);
}   

form#add-book-form {
    background-color: var(--darkest-lighter-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--common-padding);
    gap: calc(var(--common-margin) * 2);

    overflow-y: auto;
}

div[data-class='input-field'] {
    display: grid;
    grid-template-columns: calc(60px + 1vw) 1fr;
    gap: var(--common-padding);
    align-items: center;
}

div[data-class='input-field'] label,
div[data-class='input-field'] input {
    font-size: var(--form-font-size);
    width: 100%;
}

div[data-class='input-field'] input,
div[data-class='input-field'] textarea {
    background-color: var(--gray-color);
    border: 1px solid var(--dark-gray-color);
    padding: 1px 5px;
    color: var(--darkest-color);
}

div[data-class='input-field'] input.error {
    border: 1px inset var(--reject-color);
    background-color: #f3adad; 
}

div#published-cont {
    width: 100%;
    display: grid;

    grid-template-columns: 
        calc(60px + 1vw) 
        var(--common-padding) 
        1fr 
        var(--common-padding) 
        1fr;
    gap: 0;
}

div#published-cont p {
    font-size: var(--form-font-size);
}

label[for='get-month'],
label[for='get-year'] {
    width: 1px;
    overflow: hidden;
    color: transparent;
}


button#get-month,
input#get-year {
    background-color: var(--gray-color);
    border: 1px solid var(--dark-gray-color);
    padding: 1px 5px;
    color: var(--darkest-color);
    text-align: left;
    width: 100%;
}

button#get-month {
    display: grid;
    grid-template-columns: max-content 1fr;
    border-radius: 0;
}
button#get-month span,
button#get-month span i {
    color: var(--darkest-color);
}

button#get-month span#calendar-icon{
    justify-self: end;
}

button#get-month.empty span,
button#get-month.empty span i {
    color: var(--dark-gray-color);
}

button#get-month.error,
input#get-year.error {
    border: 1px inset var(--reject-color);
    background-color: #f3adad; 
}


::-webkit-input-placeholder,
::placeholder {
    color: var(--dark-gray-color);
  }

dialog#month-selector {
    border: none;
    background-color: transparent;
    animation: 0.3s modal-show;
    padding: 10px 10px 0 0;
}

dialog#month-selector::backdrop {
    background-color: transparent;
}

div.dialog-container {
    border: 1px solid var(--off-white-color);
    width: 100%;
    padding: var(--common-padding);
    background-color: var(--darkest-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--common-padding);
    position: relative;
    margin: auto;
}

button#exit-month {
    font-size: var(--form-font-size);
    background-color: var(--base-contrast-color);
    border: 1px solid var(--darkest-lighter-color);
    width: calc(var(--form-font-size) * 2);
    height: calc(var(--form-font-size) * 2);
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
}

button#exit-month i {
    color: var(--off-white-color);
}

div.dialog-container p {
    font-size: var(--form-font-size);
    color: var(--off-white-color);
    margin-bottom: var(--common-margin);
    text-align: center;
}

div#month-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: 100%;
  }

div#month-grid button,
button[value = ''] {
    font-size: var(--form-font-size);
    color: var(--off-white-color);
    padding: calc(var(--common-padding) * 0.5);
    background-color: var(--darkest-color);
    border: 1px solid var(--darkest-lighter-color);
    border-radius: 3px;
}

button[value = ''] {
    width: 25%;
    background-color: var(--darkest-lighter-color);
}

label[for='get-cover'] {
    align-self: self-start;
}

input#get-cover {
    height: calc(var(--form-font-size) * 10);
}

textarea#get-cover {
    min-height: 55px;
    resize: vertical;
}

/* genre (start) -- */
div#genre-cont,
div#read-cont {
    display: block;
    width: 100%;
}

div#genre-cont fieldset,
div#read-cont fieldset {
    width: 100%;
    padding: var(--common-padding);
}

div#genre-cont fieldset.error {
    border: 2px solid var(--reject-color);
}

div#genre-cont fieldset.error legend,
div#genre-cont fieldset.error p,
div#genre-cont fieldset.error span{
    color: var(--reject-color);
}


div#genre-cont legend,
div#read-cont legend {
    font-size: var(--form-font-size);
    padding: 0 var(--common-padding);
}

div#genre-cont p {
    font-size: var(--form-font-size);
    margin-bottom: var(--common-margin);
}

div#genre-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    gap: 5px;
}

div#genre-grid div.checkbox-cont {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 5px;
    align-items: center;
}

input[type='checkbox'] {
    appearance: none;
    background-color: var(--dark-gray-color);
    width: var(--form-font-size);
    height: var(--form-font-size);
    border: 1px inset var(--darkest-color);
}

input[type='checkbox']:checked {
    background-image: url('./images/check.png');
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    background-color: var(--base-contrast-color);
}

input[type='checkbox']:checked + label {
    color: var(--base-color);
}

input[type='checkbox'] + label.disabled {
    color: var(--dark-gray-color);
}

input[type='checkbox'][disabled='true'] {
    background-color: var(--dark-gray-color);
}

/* genre (end) -- */

/* read status (start) -- */
div#read-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--common-margin);
    justify-items: center;
}

div.radio-cont {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: var(--common-margin);
    align-items: center;
   
}

div[data-class='input-field'] input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--gray-color);
    width: var(--common-font-size);
    height: var(--common-font-size);
    border-radius: 50%;
    padding: 0;
}

div[data-class='input-field'] input[type='radio']:checked {
    background-color: var(--base-contrast-color);
    outline: 3px solid var(--base-color);
}

input[type='radio']:checked + label {
    color: var(--base-color);
}

/* read status (end) -- */

/* save button (start) -- */
button#save-book {
    font-size: var(--form-font-size);
    color: var(--darkest-color);
    align-self: center;
    width: 25%;
    padding: calc(var(--common-padding) * 0.5);
    background-color: var(--base-color);
    border: 1px solid var(--base-color);
    border-radius: 5px;
}
/* save button (end) -- */

/* section Stats */
section#stats {
    width: 100%;
    background-color: rgba(27, 26, 23, 0.95);
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.1s ease-in-out;

    position: absolute;
    top: 0;
    z-index: 2;

    display: grid;
    grid-template-columns: 20% 80%;
}

section#stats.shown {
    transform: translateX(0);
}

div#buttons-cont {
    padding: var(--common-padding);
    display: grid;
    grid-template-columns: 1fr;
    /* grid-auto-rows: auto; */
    justify-items: center;
}

button#exit-menu-btn {
    width: calc(var(--title-font-size) * 2.5);
    height: calc(var(--title-font-size) * 2.5);
    justify-self: end;
    font-size: calc(var(--title-font-size) * 2);
    border-radius: 50%;
    border: 2px solid var(--base-color);
    background-color: var(--base-contrast-color);
    margin: var(--common-margin) auto 0;
}

button#exit-menu-btn i{
    color: var(--off-white-color);
}

section#stats div#stats-grid {
    width: 100%;
    border: 1px solid var(--base-contrast-color);
    background-color: var(--gray-color);
    padding: var(--common-padding);
    margin: 0 0 0 auto;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, max-content) 1fr;
    gap: calc(var(--common-margin) * 2);
    align-items: start;
}   

h2#stats-header {
    color: var(--darkest-color);
    font-size: calc(var(--title-font-size) * 2);
}

section#stats p {
    color: var(--darkest-color);
}

div.stat-cont {
    display: grid;
    grid-template-rows: max-content 1fr;
    border: 1px solid var(--darkest-lighter-color);
    width: 30%;
    height: 70px;
    padding: calc(var(--common-padding) * 0.8);
    margin: var(--common-padding);
    border-radius: 10px;
    align-items: center;
}

section#stats p#overall { 
    grid-column: 1 / 3;
    
    font-size: calc(var(--title-font-size) * 1);
}

section#stats p#overall-stat {
    justify-self: end;
    font-size: calc(var(--title-font-size) * 1.8);
    grid-column: 2 / 3;
    font-weight: bold;
    justify-self: center;
}

div#read-status-bar {
    width: 100%;
    height: 30px;
    border: 1px solid var(--gray-color);
    padding: 2px;
    display: flex;
    background-color: var(--off-white-color);
    justify-content: center;
    align-items: center;
    grid-column: 1 / 4;
}

div#nys-level {
    width: 33%;
    height: 100%;
    background-color: var(--reject-color);
}

div#ongoing-level {
    width: 33%;
    height: 100%;
    background-color: var(--base-color);
}

div#done-level {
    width: 33%;
    height: 100%;
    background-color: var(--confirm-color);
}


div#read-stat-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--common-margin) * 1);
    width: 90%;
    margin: 0 auto 0;
}

div.read-stat-cont {
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr 1fr;
    border: 1px solid var(--darkest-lighter-color);
    padding: calc(var(--common-padding) * 0.5);
    align-items: center;
    gap: var(--common-padding);
    border-radius: 10px;
}

section#stats p.stat-label {
    font-size: var(--common-font-size);
    grid-column: 1 / 3;
}

div.legend {
    width: calc(var(--title-font-size) * 1);
    height: calc(var(--title-font-size) * 1);
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

div.legend.nys {
    background-color: var(--reject-color);
}

div.legend.ongoing {
    background-color: var(--base-color);
}

div.legend.done {
    background-color: var(--confirm-color);
}


section#stats p.read-stat {
    align-self: end;
    justify-self: center;
    font-size: calc(var(--title-font-size) * 1.3);
}














/* button#add-book {
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-items: center;
    align-items: center;
    gap: 0;
    transition: width 0.3s ease-in-out;
}

button#add-book i {
    color: var(--off-white-color);
    text-shadow: 0 0 5px var(--darkest-color);
    transform: translateX(2px);
}

button#add-book span {
    font-size: calc(var(--common-font-size) * 2);
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    text-align: right;
    white-space: nowrap;
}

button#add-book:hover {
    gap: var(--common-margin);
    width:calc(150px + 5vw);
    overflow: hidden;
}

button#add-book:hover span {
    width: calc(80px + 5vw);
} */