@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--off-white-color);
}

:root {
    --common-font-size: calc(0.4rem + 1vw);
    --header-font-size: calc(var(--common-font-size) * 1.1);
    --title-font-size: calc(var(--common-font-size) * 1.3);

    --form-font-size: calc(0.6rem + 1vw);

    --common-padding: calc(5px + 1vw);
    --common-margin: calc(3px + 1vw);

    --darkest-color: #1B1A17; 
    --darkest-lighter-color: #3d3c37;
    --base-color: #F0A500;
    --base-contrast-color: #E45826;
    --base-light-color: #E6D5B8;
    --off-white-color: #FDF6EC;
    --gray-color: #D6E4E5;
    --dark-gray-color: #497174;
    --confirm-color: #3CCF4E;
    --reject-color: #CC3636;

    --cover-size: 

}

@keyframes modal-show {
    from {
        opacity: 0;
        transform: scale(0.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
  }

body {
    background-color: var(--darkest-color);
}

main {
    position: relative;
}

section#library-grid {
    padding: var(--common-padding);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(150px + 5vw), 1fr));

    gap: var(--common-margin);
}

/* book-container - (start)*/
section.book-container {
    border: 1px solid var(--base-color);
    border-radius: 5px;
    width: 100%;
    padding: var(--common-padding);

    display: grid;
    position: relative;
    
    grid-template-columns: 1fr;
    grid-template-areas: 
        "button"
        "title"
        "genre"
        "cover"
        "read-status"
        "details";
    gap: calc(var(--common-margin) * 0.5);
}

section.book-container.read {
    box-shadow: inset 0 0 10px var(--confirm-color);
    border-color: var(--confirm-color);
}

section.book-container.done {
    box-shadow: inset 0 0 10px var(--confirm-color);
    border-color: var(--confirm-color);
}

section.book-container.nys {
    border-color: var(--reject-color);
}

p {
    font-family: var(--common-font-size);
    color: var(--off-white-color);
    font-size: var(--common-font-size);
}


h3.title {
    grid-area: title;
    align-self: center;
    justify-self: center;

    font-size: var(--title-font-size);
    color: var(--base-color);
}

button[data-class='read-status'],
button[data-class='edit']{
    grid-area: button;
    position: absolute;
    right: 0;
    top: 0;

    width: calc(var(--header-font-size) * 2);
    height: calc(var(--header-font-size) * 2);
    border: 1px solid var(--darkest-color);
    border-radius: 50%;
    background-color: var(--off-white-color);

    font-size: var(--header-font-size);
}

button i {
    color: var(--darkest-color);
}

button[data-class='edit'] {
    left: 0;
}

button[data-class='read-status'].done {
    background-color: var(--confirm-color);
}

button[data-class='read-status'].ongoing {
    background-color: var(--base-color);
}

button[data-class='read-status'].nys {
    background-color: var(--reject-color);
}

div.genre {
    grid-area: genre;
}

div.genre ul {
    
    display: flex;
    justify-content: center;
    gap: var(--common-font-size);
    list-style-type: none;
    color: var(--off-white-color);
    font-size: calc(var(--common-font-size) * 0.8);
}

div[data-class='cover-image'] {
    grid-area: cover;

    width: 100px;
    height: 120px;
    border: 1px solid var(--base-contrast-color);
    background-position: center;
    background-size: cover; 
    margin: var(--common-margin) auto;
}

p[data-class='read-status'] {
    grid-area: read-status;
    justify-self: center;
    margin-bottom: var(--common-margin);
}

p[data-class='read-status'].done {
    color: var(--confirm-color);
}

p[data-class='read-status'].nys {
    color: var(--reject-color);
}

p[data-class='read-status'].ongoing {
    color: var(--base-color);
}

section[data-class='book-details'] {
    grid-area: details;

    display: flex;
    flex-direction: column;
}

section[data-class='book-details'] h4 {
    display: none;
}

div[data-class='details'] {
    display: grid;
    grid-template-columns: calc(55px + 3vw) 1fr;
}

/* book-container - (end)*/

/* add book button (start) - */
button#add-book {
    font-size: calc(var(--common-font-size) * 4);
   
    width: calc(40px + 5vw);
    height: calc(40px + 5vw);
    border: 1px solid var(--base-color);
    background-color: var(--base-contrast-color);
    box-shadow: 0 3px 5px var(--gray-color);
    border-radius: 20%;

    position: fixed;
    bottom: 5vh;
    right: 10vw;
    z-index: 1;
}

button#add-book i {
    color: var(--off-white-color);
    text-shadow: 0 0 5px var(--darkest-color);
}

/* add book button (end) - */

/* add book input field (start) -*/

dialog#add-book-dialog {
    width: 95vw;
    border: none;
    background-color: transparent;
    margin: auto;
    
    animation: 0.3s modal-show;
    padding: 10px;
}

dialog#add-book-dialog::backdrop {
    background-color: rgba(27, 26, 23, 0.9);
}

div#add-book-cont {
    background-color: var(--base-contrast-color);
    border: 1px solid var(--base-contrast-color);
    box-shadow: 0 0 15px var(--dark-gray-color);
    width: 100%;
    overflow-y: scroll;
}

dialog#add-book-dialog h3 {
    text-align: center;
    padding: var(--common-padding);
    font-size: calc(var(--form-font-size) * 1.3);
}

button#exit-add-form {
    font-size: calc(var(--form-font-size) * 1.3);
    background-color: var(--base-color);
    border: 1px solid var(--base-color);
    width: calc(var(--form-font-size) * 2.3);
    height: calc(var(--form-font-size) * 2.3);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0; 
}
button#exit-add-form i {
    color: var(--darkest-color);
}   

form#add-book-form {
    background-color: var(--darkest-lighter-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: var(--common-padding);
    gap: calc(var(--common-margin) * 2);
}

div[data-class='input-field'] {
    display: grid;
    grid-template-columns: calc(60px + 1vw) 1fr;
    gap: var(--common-padding);
    align-items: center;
}

div[data-class='input-field'] label,
div[data-class='input-field'] input {
    font-size: var(--form-font-size);
}

div[data-class='input-field'] input,
div[data-class='input-field'] textarea {
    background-color: var(--gray-color);
    border: 1px solid var(--dark-gray-color);
    padding: 1px 5px;
    color: var(--darkest-color);
}

div#published-cont {
    width: 100%;
    display: grid;

    grid-template-columns: 
        calc(60px + 1vw) 
        var(--common-padding) 
        1fr 
        var(--common-padding) 
        1fr;
    gap: 0;
}

div#published-cont p {
    font-size: var(--form-font-size);
}

label[for='get-month'],
label[for='get-year'] {
    width: 1px;
    overflow: hidden;
    color: transparent;
}

button#get-month,
input#get-year {
    background-color: var(--gray-color);
    border: 1px solid var(--dark-gray-color);
    padding: 1px 5px;
    color: var(--darkest-color);
    text-align: left;
    width: 100%;
}

button#get-month {
    display: grid;
    grid-template-columns: max-content 1fr;
    border-radius: 0;
}
button#get-month span,
button#get-month span i {
    color: var(--darkest-color);
}

button#get-month span#calendar-icon{
    justify-self: end;
}

button#get-month.empty span,
button#get-month.empty span i {
    color: var(--dark-gray-color);
}

form::-webkit-input-placeholder,
form::placeholder {
    color: var(--dark-gray-color);
  }

dialog#month-selector {
    border: none;
    background-color: transparent;
    animation: 0.3s modal-show;
    padding: 10px 10px 0 0;
}

dialog#month-selector::backdrop {
    background-color: transparent;
}

div.dialog-container {
    border: 1px solid var(--off-white-color);
    width: 100%;
    padding: var(--common-padding);
    background-color: var(--darkest-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--common-padding);
    position: relative;
    margin: auto;
}

button#exit-month {
    font-size: var(--form-font-size);
    background-color: var(--base-contrast-color);
    border: 1px solid var(--darkest-lighter-color);
    width: calc(var(--form-font-size) * 2);
    height: calc(var(--form-font-size) * 2);
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
}

button#exit-month i {
    color: var(--off-white-color);
}

div.dialog-container p {
    font-size: var(--form-font-size);
    color: var(--off-white-color);
    margin-bottom: var(--common-margin);
    text-align: center;
}

div#month-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: 100%;
  }

div#month-grid button,
button[value = ''] {
    font-size: var(--form-font-size);
    color: var(--off-white-color);
    padding: calc(var(--common-padding) * 0.5);
    background-color: var(--darkest-color);
    border: 1px solid var(--darkest-lighter-color);
    border-radius: 3px;
}

button[value = ''] {
    width: 25%;
    background-color: var(--darkest-lighter-color);
}

label[for='get-cover'] {
    align-self: self-start;
}

input#get-cover {
    height: calc(var(--form-font-size) * 10);
}

textarea#get-cover {
    min-height: 55px;
    resize: vertical;
}






/* genre (start) -- */
div#genre-cont {
    display: block;
    width: 100%;
}

div#genre-cont fieldset {
    width: 100%;
    padding: var(--common-padding);
}

div#genre-cont legend {
    font-size: var(--form-font-size);
    padding: 0 var(--common-padding);
}

div#genre-cont p {
    font-size: var(--form-font-size);
    margin-bottom: var(--common-margin);
}

div#genre-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    gap: 5px;
}

div#genre-grid div.checkbox-cont {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 5px;
    align-items: center;
}

input[type='checkbox'] {
    appearance: none;
    background-color: var(--dark-gray-color);
    width: var(--form-font-size);
    height: var(--form-font-size);
    border: 1px inset var(--darkest-color);
}

input[type='checkbox']:checked {
    background-image: url('./images/check.png');
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    background-color: var(--base-contrast-color);
}





/* genre (end) -- */













button#save-book {
    font-size: var(--form-font-size);
    color: var(--darkest-color);
    align-self: center;
    width: 25%;
    padding: calc(var(--common-padding) * 0.5);
    background-color: var(--base-color);
    border: 1px solid var(--base-color);
    border-radius: 5px;
}








